.advantages {
  width: 100%;
  min-height: 562px;
  margin: 0;
  padding: 0;
  padding-top: 87px;
  box-sizing: border-box;

  background-color: $background-light-color;
  background-image: url("../img/Rectangle-3-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/Rectangle-3-desktop@2x.jpg");
    background-size: 1366px 562px;
  }
}

.advantages h2 {
  margin-bottom: 49px;

  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
}

.advantages h3 {
  margin: 0;
  margin-bottom: 9px;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.advantages h3::before {
  position: absolute;
  content: "";
  left: 30px;
  z-index: 1;

  background-repeat: no-repeat;
}

.advantages li {
  position: relative;

  width: 360px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  padding-top: 81px;
  padding-left: 30px;
  box-sizing: border-box;

  list-style: none;

  background-color: $background-main-color;
}

.advantages__liner h3::before {
  top: 30px;

  width: 27px;
  height: 32px;

  background-image: url("../img/boat.svg");
  background-size: 27px 32px;
}

.advantages__liner p {
  width: 288px;
}

.advantages__non-breaking-space-first {
  display: none;
}

.advantages__non-breaking-space-second {
  display: none;
}

.advantages p {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
}

.advantages__system h3::before {
  top: 35px;

  width: 38px;
  height: 21px;

  background-image: url("../img/check-marks.svg");
  background-size: 38px 21px;
}

.advantages__system p {
  width: 280px;
}

.advantages__tours h3::before {
  top: 38px;

  width: 42px;
  height: 15px;

  background-image: url("../img/boat-2.svg");
  background-size: 42px 15px;
}

.advantages__tours p {
  width: 241px;
}

.advantages__transfer {
  content: "";
}

.advantages ul {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;

  max-width: 1200px;
  min-height: 281px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: $tablet-width) {
  .advantages {
    min-height: 588px;
    padding-top: 68px;

    background-image: url("../img/Rectangle-3-tablet.png");
    background-size: 100% 588px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-3-tablet@2x.png");
      background-size: 100% 588px;
    }
  }

  .advantages h2 {
    font-size: 26px;
    line-height: 39px;
  }

  .advantages h3 {
    margin-bottom: 9px;

    font-size: 18px;
    line-height: 25px;
  }

  .advantages h3::before {
    left: 20px;
  }

  .advantages li {
    width: 206px;
    min-height: 310px;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
    padding-top: 71px;
    padding-left: 20px;
  }

  .advantages__liner h3 {
    width: 170px;
  }

  .advantages__liner h3::before {
    top: 25px;

    width: 21px;
    height: 26px;

    background-image: url("../img/boat.svg");
    background-size: 21px 26px;
  }

  .advantages__liner p {
    width: 154px;
  }

  .advantages__line-break {
    content: "";
  }

  .advantages__system h3 {
    width: 133px;
  }

  .advantages__system h3::before {
    top: 29px;

    width: 33px;
    height: 19px;

    background-image: url("../img/check-marks.svg");
    background-size: 33px 19px;
  }

  .advantages__system p {
    width: 162px;
  }

  .advantages__tours h3 {
    width: 151px;
  }

  .advantages__tours h3::before {
    top: 32px;

    width: 38px;
    height: 13px;

    background-image: url("../img/boat-2.svg");
    background-size: 38px 13px;
  }

  .advantages__tours p {
    width: 167px;
  }

  .advantages ul {
    max-width: 708px;
  }
}


@media (max-width: $mobile-width) {
  .advantages {
    min-height: 997px;
    padding-top: 37px;

    background-image: url("../img/Rectangle-3-mobile.png");
    background-size: 100% 997px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-3-mobile@2x.jpg");
      background-size: 100% 997px;
    }
  }

  .advantages h2 {
    margin-bottom: 30px;

    font-size: 24px;
    line-height: 36px;
  }

  .advantages li {
    width: 100%;
    min-height: 249px;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 72px;
    padding-left: 20px;
  }

  .advantages__liner h3 {
    width: 64%;
  }

  .advantages__liner p {
    width: 94%;
  }

  .advantages__line-break {
    content: none;
  }

  .advantages__system h3 {
    width: 60%;
  }

  .advantages__system p {
    width: 85%;
  }

  .advantages__tours h3 {
    min-width: 62%;
  }

  .advantages__tours p {
    min-width: 92%;
  }

  .advantages__transfer {
    content: none;
  }

  .advantages ul {
    display: block;

    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
