.catalog {
  width: 100%;
  padding-top: 87px;
  padding-bottom: 90px;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  color: $text-light-color;
}

.catalog a {
  display: block;

  width: 210px;
  min-height: 40px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
  color: $text-main-color;

  background-color: $background-main-color;

  text-decoration: none;
}

.catalog a:hover,
.catalog a:focus {
  opacity: 0.5;
}

.catalog a:active {
  opacity: 0.2;
}

.catalog__astoria {
  background-image: url("../img/Rectangle-9-desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/Rectangle-9-desktop@2x.jpg");
    background-size: 260px 100%;
  }
}

.catalog__atlantis {
  background-image: url("../img/Rectangle-11-desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/Rectangle-11-desktop@2x.jpg");
    background-size: 260px 100%;
  }
}

.catalog__aurora {
  background-image: url("../img/Rectangle-15-desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/Rectangle-15-desktop@2x.jpg");
    background-size: 260px 100%;
  }
}

.catalog dd {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-weight: 400;
  color: $text-middle-color;
}

.catalog dl {
  margin: 0;
  padding: 0;
}

.catalog dt {
  margin: 0;
  padding: 0;

  color: $text-light-color;
}

.catalog__elaine {
  background-image: url("../img/Rectangle-9-desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/Rectangle-9-desktop@2x.jpg");
    background-size: 260px 100%;
  }
}

.catalog h2 {
  margin-bottom: 49px;

  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  color: $text-main-color;
}

.catalog h3 {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: $text-light-color;
}

.catalog .catalog__item-title {
  margin-left: 5px;

  color: $text-light-color;
}

.catalog .catalog__item-title-hover {
  display: none;

  margin-bottom: 13px;
}

.catalog__leonor {
  background-image: url("../img/Rectangle-14-desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/Rectangle-14-desktop@2x.jpg");
    background-size: 260px 100%;
  }
}

.catalog__minion {
  background-image: url("../img/Rectangle-16-desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/Rectangle-16-desktop@2x.jpg");
    background-size: 260px 100%;
  }
}


.catalog__odyssey {
  background-image: url("../img/Rectangle-12-desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/Rectangle-12-desktop@2x.jpg");
    background-size: 260px 100%;
  }
}

.catalog__olympia {
  background-image: url("../img/Rectangle-13-desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/Rectangle-13-desktop@2x.jpg");
    background-size: 260px 100%;
  }
}

.catalog li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 260px;
  min-height: 386px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 29px;
  padding-right: 23px;
  padding-bottom: 22px;
  padding-left: 25px;
  box-sizing: border-box;

  background-color: $background-dark-color;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 260px 100%;

  list-style: none;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  opacity: 0;
}

.catalog li:hover,
.catalog li:focus {
  background-image: none;
}

.catalog li:hover .catalog__card,
.catalog li:focus .catalog__card {
  min-height: 322px;

  opacity: 1;
}

.catalog li:hover .catalog__item-title-hover,
.catalog li:focus .catalog__item-title-hover {
  display: block;
}

.catalog li:hover .catalog__item-title,
.catalog li:focus .catalog__item-title {
  display: none;
  margin-bottom: 13px;
}

.catalog p {
  margin: 0;
  padding: 0;
}

.catalog ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  max-width: 1190px;
  margin: 0 auto;
  padding: 0;
  padding-left: 29px;
  box-sizing: border-box;
}

@media (max-width: $tablet-width) {
  .catalog {
    padding-top: 68px;
    padding-bottom: 70px;
  }

  .catalog a {
    width: 239px;
  }

  .catalog__astoria {
    background-image: url("../img/Rectangle-31-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-31-tablet@2x.png");
      background-size: 309px 100%;
    }
  }

  .catalog__atlantis {
    background-image: url("../img/Rectangle-11-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-11-tablet@2x.png");
      background-size: 309px 100%;
    }
  }

  .catalog__aurora {
    background-image: url("../img/Rectangle-15-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-15-tablet@2x.png");
      background-size: 309px 100%;
    }
  }

  .catalog__elaine {
    background-image: url("../img/Rectangle-31-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-31-tablet@2x.png");
      background-size: 309px 100%;
    }
  }

  .catalog h2 {
    margin-bottom: 49px;

    font-size: 26px;
    line-height: 39px;
  }

  .catalog .catalog__item-title {
    margin-left: 0;
  }

  .catalog .catalog__item-title-hover {
    margin-bottom: 13px;
  }

  .catalog__leonor {
    background-image: url("../img/Rectangle-14-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-14-tablet@2x.png");
      background-size: 309px 100%;
    }
  }

  .catalog__minion {
    background-image: url("../img/Rectangle-16-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-16-tablet@2x.png");
      background-size: 309px 100%;
    }
  }


  .catalog__odyssey {
    background-image: url("../img/Rectangle-12-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-12-tablet@2x.png");
      background-size: 309px 100%;
    }
  }

  .catalog__olympia {
    background-image: url("../img/Rectangle-13-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-13-tablet@2x.png");
      background-size: 309px 100%;
    }
  }

  .catalog li {
    width: 309px;
    min-height: 386px;
    padding-right: 34px;
    padding-bottom: 28px;
    padding-left: 35px;

    background-size: 309px 100%;
  }

  .catalog ul {
    max-width: 100%;
    width: 100%;
    padding-left: 29px;
  }
}

@media (max-width: $mobile-width) {
  .catalog {
    padding-top: 38px;
    padding-bottom: 35px;
  }

  .catalog a {
    width: 220px;
  }

  .catalog__astoria {
    background-image: url("../img/Rectangle-31-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-31-mobile@2x.png");
      background-size: 270px 100%;
    }
  }

  .catalog__atlantis {
    background-image: url("../img/Rectangle-11-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-11-mobile@2x.png");
      background-size: 270px 100%;
    }
  }

  .catalog__aurora {
    background-image: url("../img/Rectangle-15-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-15-mobile@2x.png");
      background-size: 270px 100%;
    }
  }

  .catalog__elaine {
    background-image: url("../img/Rectangle-31-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-31-mobile@2x.png");
      background-size: 270px 100%;
    }
  }

  .catalog h2 {
    margin-bottom: 29px;

    font-size: 24px;
    line-height: 36px;
  }

  .catalog .catalog__item-title {
    margin-left: 0;
  }

  .catalog .catalog__item-title-hover {
    margin-bottom: 13px;
  }

  .catalog__leonor {
    background-image: url("../img/Rectangle-14-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-14-mobile@2x.png");
      background-size: 270px 100%;
    }
  }

  .catalog__minion {
    background-image: url("../img/Rectangle-16-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-16-mobile@2x.png");
      background-size: 270px 100%;
    }
  }


  .catalog__odyssey {
    background-image: url("../img/Rectangle-12-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-12-mobile@2x.png");
      background-size: 270px 100%;
    }
  }

  .catalog__olympia {
    background-image: url("../img/Rectangle-13-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/Rectangle-13-mobile@2x.png");
      background-size: 270px 100%;
    }
  }

  .catalog li {
    width: 270px;
    min-height: 386px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding-right: 24px;
    padding-bottom: 18px;
    padding-left: 25px;

    background-size: 270px 100%;
  }

  .catalog ul {
    margin: 0;
    padding: 0;
  }
}
