.page-footer {
  width: 100%;
  background-color: $background-dark-color;
}

.page-footer a {
  text-decoration: none;
}

.page-footer__logo {
  margin-right: 40px;
}

.page-footer li {
  list-style: none;
}

.page-footer__list-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 600px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-footer__list-nav a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $background-light-color;
}

.page-footer__list-nav li {
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.page-footer__list-nav a:hover,
.page-footer__list-nav a:focus {
  color: $text-hover-dark-color;
}

.page-footer__list-nav a:active {
  opacity: 0.5;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 127px;
  margin-left: auto;
  padding: 0;
  box-sizing: border-box;
}

.page-footer__social-list li {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.page-footer__social-list a:hover,
.page-footer__social-list a:focus {
  opacity: 0.5;
}

.page-footer__social-list a:active {
  opacity: 0.9;
}

.page-footer__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  max-width: 1366px;
  min-height: 138px;
  margin: 0 auto;
  margin-top: auto;
  padding: 0 7.6%;
  box-sizing: border-box;

  color: $text-light-color;
}

@media (max-width: $tablet-width) {
  .page-footer {
    min-height: 120px;
  }

  .page-footer__logo {
    margin-right: 25px;
  }

  .page-footer__logo img {
    width: 38px;
    height: 20px;
  }

  .page-footer__list-nav {
    width: 450px;
  }

  .page-footer__list-nav a {
    font-size: 12px;
    line-height: 15px;
  }

  .page-footer__social-list {
    width: 97px;
  }

  .page-footer__social-facebook img {
    width: 9px;
    height: 16px;
  }

  .page-footer__social-instagram img {
    width: 16px;
    height: 16px;
  }

  .page-footer__social-twitter img {
    width: 16px;
    height: 13px;
  }

  .page-footer__wrapper {
    width: 768px;
    max-width: none;
    min-height: 120px;
    margin: 0 auto;
    padding: 0 45px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    min-height: 283px;
  }

  .page-footer__logo {
    margin: 0;
    margin-bottom: 20px;
  }

  .page-footer__logo img {
    width: 42px;
    height: 22px;
  }

  .page-footer__list-nav {
    display: block;

    width: 100%;
    margin: 0;
    margin-bottom: 5px;
  }

  .page-footer__list-nav li {
    margin: 0;
    margin-bottom: 13px;
  }

  .page-footer__list-nav li:last-child {
    margin-bottom: 10px;
  }

  .page-footer__social-list {
    justify-content: flex-start;

    width: 100%;
    margin: 0;
  }

  .page-footer__social-list li {
    margin-right: 23px;
    margin-left: 0;
  }

  .page-footer__wrapper {
    flex-direction: column;
    align-items: flex-start;

    width: 320px;
    min-height: 283px;
    padding: 0;
    padding-top: 40px;
    padding-left: 4.7%;
  }
}
