body {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0;
  border: none;

  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: $font-family;
  // color: $text-color;

  background-color: $background-light-color;
  /* временно для верстки */
  outline: 1px solid #ff0000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
