body {
  display: flex;
  flex-direction: column;

  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  border: none;
  box-sizing: border-box;

  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-family: $font-family;
  color: $text-main-color;

  background-color: $background-main-color;
  /* временно для верстки */
  outline: 1px solid #ff0000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (max-width: $tablet-width) {
  body {
    min-width: 768px;
  }
}

@media (max-width: $mobile-width) {
  body {
    min-width: 320px;
  }
}
