@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/montserrat-medium.woff2") format("woff2"),
    url("../fonts/montserrat-medium.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/montserrat-semibold.woff2") format("woff2"),
    url("../fonts/montserrat-semibold.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;

  src: url("../fonts/montserrat-bold.woff2") format("woff2"),
    url("../fonts/montserrat-bold.woff") format("woff");
}

@import "variables.scss";
@import "shared-file.scss";

/* Шапка сайта */
@import "page-header.scss";

/* Главная страница */
@import "home-page.scss";
@import "advantages.scss";

/* Подвал сайта */
@import "page-footer.scss";
