$font-family: "Montserrat", "Arial", sans-serif;
$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$background-main-color: #f9fbfd;
$background-nav-color: #3373b0;
$background-dark-color: #011c40;
$background-light-color: #e3ecf6;
$background-open-color: #002e65;
$shadow-color: rgba(1, 28, 64, 0.15);
$text-main-color: #011c40;
$text-light-color: #f9fbfd;
$text-middle-color: #d8d8d9;
$text-hover-dark-color: #8f8f8f;
$text-hover-light-color: #b1b1b1;
$menu-svg-fill: #011c40;
$menu-logo-fill: #f9fbfd;
