$font-family: "Montserrat", "Arial", sans-serif;
$tablet-width: 1023px;
$mobile-width: 767px;
$background-light-color: #ffffff;
$background-nav-color: #3373b0;
$background-dark-color: #011c40;
$text-main-color: #011c40;
$text-light-color: #f9fbfd;
$text-hover-dark-color: #8f8f8f;
$text-hover-light-color: #b1b1b1;
$menu-svg-fill: #011c40;
$menu-logo-fill: #f9fbfd;
